body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    /*margin-bottom: 100px;*/
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
}

h1 {
    position: absolute;
    left: 100px;
}

.calculator {
    background-color: rgb(78, 72, 72);
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-sizing: border-box;
}

.screen {
    background-color: rgb(226, 226, 226);
    border: 2px solid black;
    border-radius: 5px;
    text-align: right;
    padding: 10px 20px;
    margin-bottom: 20px;
    word-wrap: break-word;
    word-break: break-all;
}

.lastScreen {
    min-height: 32px;
    font-size: 20px;
}

.currentScreen {
    min-height: 64px;
    font-size: 40px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.btn {
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(226, 226, 226);
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(189, 184, 184)
}

.btn-red {
    background-color: rgb(212, 92, 92);
}

.btn-red:hover {
    background-color: rgb(223, 71, 71);
}

.span-2 {
    grid-column: span 2;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 70px;
}